#bulb {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 30%;
    height: 30%;
}

.draw {
    fill-opacity: 100;
    stroke: #e47932;
    stroke-dashoffset: 0;
    stroke-dasharray: 2000;
    animation: anim 1s ease-in-out;
    animation-iteration-count: infinite;
    
}

@keyframes anim {
    0%
    {
        stroke-dashoffset: 2000;
    }
    100%
    {
        stroke-dashoffset: 0;
    }
}
